Trayvio.API/bin/Debug/net9.0/Trayvio.API.dll
Trayvio.API/bin/Debug/net9.0/Trayvio.API.exe
Trayvio.API/bin/Debug/net9.0/Trayvio.API.pdb
Trayvio.API/bin/Debug/net9.0/Trayvio.Application.dll
Trayvio.API/bin/Debug/net9.0/Trayvio.Application.pdb
Trayvio.API/bin/Debug/net9.0/Trayvio.Domain.dll
Trayvio.API/bin/Debug/net9.0/Trayvio.Domain.pdb
Trayvio.API/bin/Debug/net9.0/Trayvio.Infrastructure.dll
Trayvio.API/bin/Debug/net9.0/Trayvio.Infrastructure.pdb
Trayvio.API/obj/Debug/net9.0/apphost.exe
Trayvio.API/obj/Debug/net9.0/ref/Trayvio.API.dll
Trayvio.API/obj/Debug/net9.0/refint/Trayvio.API.dll
Trayvio.API/obj/Debug/net9.0/Trayvio.API.AssemblyInfo.cs
Trayvio.API/obj/Debug/net9.0/Trayvio.API.AssemblyInfoInputs.cache
Trayvio.API/obj/Debug/net9.0/Trayvio.API.csproj.AssemblyReference.cache
Trayvio.API/obj/Debug/net9.0/Trayvio.API.dll
Trayvio.API/obj/Debug/net9.0/Trayvio.API.pdb
Trayvio.API/obj/Debug/net9.0/Trayvio.API.sourcelink.json
Trayvio.Application/bin/Debug/net9.0/Trayvio.Application.dll
Trayvio.Application/bin/Debug/net9.0/Trayvio.Application.pdb
Trayvio.Application/bin/Debug/net9.0/Trayvio.Domain.dll
Trayvio.Application/bin/Debug/net9.0/Trayvio.Domain.pdb
Trayvio.Application/obj/Debug/net9.0/ref/Trayvio.Application.dll
Trayvio.Application/obj/Debug/net9.0/refint/Trayvio.Application.dll
Trayvio.Application/obj/Debug/net9.0/Trayvio.Application.AssemblyInfo.cs
Trayvio.Application/obj/Debug/net9.0/Trayvio.Application.AssemblyInfoInputs.cache
Trayvio.Application/obj/Debug/net9.0/Trayvio.Application.csproj.AssemblyReference.cache
Trayvio.Application/obj/Debug/net9.0/Trayvio.Application.dll
Trayvio.Application/obj/Debug/net9.0/Trayvio.Application.pdb
Trayvio.Application/obj/Debug/net9.0/Trayvio.Application.sourcelink.json
Trayvio.Domain/bin/Debug/net9.0/Trayvio.Domain.dll
Trayvio.Domain/bin/Debug/net9.0/Trayvio.Domain.pdb
Trayvio.Domain/obj/Debug/net9.0/ref/Trayvio.Domain.dll
Trayvio.Domain/obj/Debug/net9.0/refint/Trayvio.Domain.dll
Trayvio.Domain/obj/Debug/net9.0/Trayvio.Domain.AssemblyInfo.cs
Trayvio.Domain/obj/Debug/net9.0/Trayvio.Domain.AssemblyInfoInputs.cache
Trayvio.Domain/obj/Debug/net9.0/Trayvio.Domain.dll
Trayvio.Domain/obj/Debug/net9.0/Trayvio.Domain.pdb
Trayvio.Domain/obj/Debug/net9.0/Trayvio.Domain.sourcelink.json
Trayvio.Infrastructure/bin/Debug/net9.0/Trayvio.Application.dll
Trayvio.Infrastructure/bin/Debug/net9.0/Trayvio.Application.pdb
Trayvio.Infrastructure/bin/Debug/net9.0/Trayvio.Domain.dll
Trayvio.Infrastructure/bin/Debug/net9.0/Trayvio.Domain.pdb
Trayvio.Infrastructure/bin/Debug/net9.0/Trayvio.Infrastructure.dll
Trayvio.Infrastructure/bin/Debug/net9.0/Trayvio.Infrastructure.pdb
Trayvio.Infrastructure/obj/Debug/net9.0/ref/Trayvio.Infrastructure.dll
Trayvio.Infrastructure/obj/Debug/net9.0/refint/Trayvio.Infrastructure.dll
Trayvio.Infrastructure/obj/Debug/net9.0/Trayvio.Infrastructure.AssemblyInfo.cs
Trayvio.Infrastructure/obj/Debug/net9.0/Trayvio.Infrastructure.AssemblyInfoInputs.cache
Trayvio.Infrastructure/obj/Debug/net9.0/Trayvio.Infrastructure.csproj.AssemblyReference.cache
Trayvio.Infrastructure/obj/Debug/net9.0/Trayvio.Infrastructure.dll
Trayvio.Infrastructure/obj/Debug/net9.0/Trayvio.Infrastructure.pdb
Trayvio.Infrastructure/obj/Debug/net9.0/Trayvio.Infrastructure.sourcelink.json
